$color1:brown;
$letra1:Geneva;
.clase__menu {
    font-size: 22px;
  }

body{
    font-family:Tahoma;
    overflow-x: hidden;
    
}
#menu li{
    font-size: 14px;
    font-weight: bold;
    margin-left: 10px;
}
.carousel-inner{
    max-height: 39rem;
}
#parrafo{
    color:$color1;
    font-family:cursive;
}
@media(max-widht:768px){
    #intro{
        width: 90%;
    }
}
#icon{
    font-size: 30px;
}
#foot{
    font-family:$letra1 ;
}
.parrafo_footer{
    font-family: $letra1;
}
.parrafo_article{
    text-align: center;
}
.estilo_parrafo{
    color:$color1;
    text-align: justify;
    font-size: 16px;
}
.estilo_parrafo_dos{
   
    font-size: 14px;
}
.h_2{
    font-size: 24px;
}
.article{
    text-align: justify;
    margin-left: 30px;
    
    margin-top:40px;
}
.form{
    margin-bottom: 15px;
    font-family:$letra1;
}

    

.h_3{
    margin-bottom: 20px;
    font-family:$letra1;
    color:darkblue;
    font-size: 20px;
    margin-top: 50px;
}
.formu_cont{
    padding-top: 110px;padding-right: 0px;padding-left: 0px;
    margin-top: 20px;
}
.h2formu{
    color:black;
    font-size: 40px;
    font-family: $letra1;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.contact-box{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
}
.bt_formu{
    background-color:skyblue;
    margin-bottom: 40px;
    font-family: $letra1;
}
#contact-text{
    text-align: left;
    font-family: $letra1;
}
.icono{
    width:130px;
    height: 120px;
}
.h1_index{
    text-align: center;
    margin-top: 40px;
    
}
.h_1{
    font-size: 24px;
}
.home{
    background-image: url(../img/campoo.jpg);
    display: flex;
    background-repeat:no-repeat;
    background-attachment: fixed;
  background-size: cover;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.in-flex{
    flex:1;
    min-width: 250px;
    color:white;
   
    
    
}
.in-flex:first-child{
    flex:2;
    padding: 25px;
    background-color:black;
    margin: 20px;
    margin-bottom: 0px;
    color:white;
    border-radius: 15px;
}
.in-flex div{
padding: 25px;
background-color: black;
margin: 20px;
color:white;
border-radius: 15px;
}
.titulo_div{
    color:salmon;
    font-size: 18px;
    font-family: tahoma;
}
#uno{
    height: 300px;
}
.sobre_nosotros{
    margin-top: 30px;
}